@charset "utf-8";
/* CSS Document */

#photo-gallery .item {
    margin-bottom: 30px;

     transition:        all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition:    all 0.15s ease-in-out;
    -ms-transition:     all 0.15s ease-in-out;
    -o-transition:      all 0.15s ease-in-out;
}
/*
#photo-gallery .item a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
#photo-gallery .item .crust {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
#photo-gallery .item .crust:before {
    content: '';
    display: block;
    padding-top: 100%;  
}
#photo-gallery .item .core {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#photo-gallery .item .ratio-2_1:before {
    padding-top: 50%;
}
#photo-gallery .item .ratio-1_2:before {
    padding-top: 200%;
}
#photo-gallery .item .ratio-4_3:before {
    padding-top: 75%;
}
#photo-gallery .item .ratio-16_9:before {
    padding-top: 56.25%;
}
#photo-gallery .item .ratio-5_4:before {
    padding-top: 80%;
}
#photo-gallery .item .ratio-4_5:before {
    padding-top: 125%;
}

#photo-gallery .item .core img {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
*/
#photo-gallery .item:hover {
    -webkit-box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.5);

    transition:         all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition:    all 0.15s ease-in-out;
    -ms-transition:     all 0.15s ease-in-out;
    -o-transition:      all 0.15s ease-in-out;
}