@charset "utf-8";
/* CSS Document */

/**vyhľadávanie***********************/
/*
form#search-form {
    width: 500px;
}
form#search-form input {
    padding: 5px;
    width: 370px;
    font-size: 13px;
    margin: 0 0 6px 0;
    border: 2px solid #ccc;
}
form#search-form input:focus {
    border: 2px solid #900;
}
form#search-form input.submit-button {
    width: 80px;
    float: right;
}
form#search-form label {
    display: block;
}
form#search-form label span {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
    font-size: 14px;
}
form#search-form label span strong {
    display: inline-block;
    width: 0;
}
*/
/**vyhľadávanie - item****************/
.mod-search {
    margin: 20px 0 0;
}
h2 {
    margin: 0 0 10px !important;
    color: #6d6d6d;
}
h2 em {
    color: #D61E24;
    margin-left: 10px;
    margin-right: 10px;
}
.mod-search .item {
    margin: 0 0 20px;
}
.mod-search .item h3 {
    margin: 0 0 10px;
}
.mod-search .item h3 a {
    color: #166EC1;
}
.mod-search .item h3:hover a {
    color: #D61E24;
}
.mod-search .item p {
    margin: 0;
}
.mod-search .item a.link {
    color: #4c4c4c;
    font-style: italic;
    font-size: 13px;
}
.strong {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
/**vyhľadávanie - item****************/