@charset "utf-8";
/* CSS Document */
/**forms******************************/
form#login-form,
form#registration-form, 
form#reset-password-form {
    width: 500px;
    margin: 30px 0;
}
form#login-form input, 
form#registration-form input, 
form#registration-form textarea, 
form#reset-password-form input {
    padding: 5px;
    width: 370px;
    font-size: 13px;
    margin: 0 0 6px 0;
    border: 2px solid #ccc;
}
form#login-form input:focus, 
form#registration-form input:focus, 
form#registration-form textarea:focus, 
form#reset-password-form input:focus {
}
form#registration-form input[type=file] {
    border: 2px solid #fff;
}
form#registration-form input[type=checkbox] {
    width: auto;
    vertical-align: -webkit-baseline-middle;
}
form#registration-form textarea {
    height: 90px;
}
form#login-form input.submit-button, 
form#registration-form input.submit-button, 
form#reset-password-form input.submit-button {
    margin: 0 auto;
    background-color: var(--titan-dark);
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 13px;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}
form#login-form input.submit-button:hover, 
form#registration-form input.submit-button:hover, 
form#reset-password-form input.submit-button:hover {
    color: var(--titan-dark);
    background-color: #fff;
    border: 2px solid var(--titan-dark);

}
form#login-form label, 
form#registration-form label, 
form#reset-password-form label {
    line-height: 30px;
    display: block;
}
form#login-form label span, 
form#registration-form label span, 
form#reset-password-form label span {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
    font-size: 14px;
}
form#login-form label span strong, 
form#registration-form label span strong, 
form#reset-password-form label span strong {
    display: inline-block;
    width: 0;
}
form#reset-password-form label img {
    width: 112px;
    vertical-align: top;
    height: 30px;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
}
.login-buttons .button,
.login-buttons .submit-button {
    margin-left: 13px;
    margin-right: 13px !important;
}
@media screen and (min-width: 509px) {   
    .login-buttons {
        padding-left: 100px;
    }
    
}
/**registrácia************************/
/**profil*****************************/
/**úprava profilu*********************/
/**newsletter - odhlásenie************/