@charset "utf-8";
/* CSS Document */
/* detail */
div#article-detail {
	width: 95%;
	padding: 0 10px;
	font-size: 14px;
}
	div#article-detail h2 { font-size: 28px; }
	
	div#article-detail > img {
		margin: 0 15px;
	}
	
	div#article-detail .content-separator {
		margin: 15px 0;
		border-top: 1px solid #dcdcdc;
	}
	
	div#article-detail span.date-author { 

	}
	
	div#article-detail .preview, div#article-detail .text { font-size: 15px;}
	div#article-detail .text img { margin:15px; }
	div#article-detail .footer {
		
	}
	
/*  zoznam vsetkych */	
div#article-zoznam {
}
	div#article-zoznam .article {
		margin: 10px;
	}
	
	div#article-zoznam .article img {
		margin: 0;
	}
	
	div#article-zoznam div.article h2 {
		margin: 0;
		padding: 0;
		line-height: 12px;
	}
	
		div#article-zoznam div.article h2 a {
			font-size: 18px;
		}
	div#article-zoznam	div.article .text img { margin-right: 15px;}
	div#article-zoznam	div.article .footer {}
	
/*  include novinky */	
div#articleInclude {
	
}
	
	div#articleInclude h3{
	
	}
	
	div#articleInclude .nadpis{
		
	}
	
	div#articleInclude .nadpis a{
		
	}
	
	div#articleInclude .nadpis a:hover{
		
	}
	
	div#articleInclude.text{
		
	}	


table.discussion input[name='diskuter_meno'],
table.discussion input[name='diskuter_mail'],
table.discussion input[name='captcha_input'] {
	padding: 5px 10px;
	width: 710px;
}

table.discussion textarea[name='text_prispevku'] {
	height: 100px;
	padding: 5px 10px;
	width: 710px;
}

div.discussion_comment table.discussion input[name='diskuter_meno'],
div.discussion_comment table.discussion input[name='diskuter_mail'],
div.discussion_comment table.discussion input[name='captcha_input'] {
	padding: 5px 10px;
	width: 200px;
}

div.discussion_comment table.discussion textarea[name='text_prispevku'] {
	height: 100px;
	padding: 5px 10px;
	width: 200px;
}

table.discussion input[type='submit'] {
   	background-color: #628080;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    height: 60px;
    width: 200px;	
}

p.discussion_datetime {
 	color: #BBBBBB;
    font-size: 12px;
    padding-top: 4px;
}

p.discussion_text {
	color: #6D6D6D;
	font-size: 1.2em;
	font-style: italic;
	margin: 10px;
}