<Files *.php>
deny from all
</Files>

<Files color-sizes.php>
allow from all
</Files>

<Files size-amount.php>
allow from all
</Files>

<Files insert_item_to_cart.php>
allow from all
</Files>

<Files get-number-of-product-in-stock.php>
allow from all
</Files>