<Files *.php>
deny from all
</Files>

<Files actions.php>
allow from all
</Files>

<Files file_specs.php>
allow from all
</Files>

<Files functions.php>
allow from all
</Files>

<Files view_images_large.php>
allow from all
</Files>

<Files view_images_small.php>
allow from all
</Files>

<Files index.php>
allow from all
</Files>

<Files json.php>
allow from all
</Files>

<Files jsmin.php>
allow from all
</Files>

<Files minify.php>
allow from all
</Files>

<Files treeview.php>
allow from all
</Files>

<Files view_content.php>
allow from all
</Files>

<Files view_details.php>
allow from all
</Files>

<Files view_list.php>
allow from all
</Files>

<Files view_tiles.php>
allow from all
</Files>