<Files *.php>
deny from all
</Files>

<Files popup.php>
allow from all
</Files>

<Files translation_popup.php>
allow from all
</Files>

<Files static_content_popup.php>
allow from all
</Files>

<Files page_content_popup.php>
allow from all
</Files>

<Files photo_right.php>
allow from all
</Files>

<Files photo_left.php>
allow from all
</Files>

<Files foto.php>
allow from all
</Files>

<Files docs_right.php>
allow from all
</Files>

<Files docs_left.php>
allow from all
</Files>

<Files docs.php>
allow from all
</Files>