@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/**Common***********************************/
body {
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;	
    font-size: 12px;
    color:#666;
    background-color: #eee;
}
a {
    color: #F60;
    text-decoration:none;
}
a:hover {
    color:#333;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}	
.clear {
    clear: both;
    overflow: hidden;
    font-size: 0;
    height: 0;
    display: block;
    float: none !important;
}
.fa {
    color: #666666;
}
/***Table item-list*************************/
table.item-list {
    padding: 0;
    width: 1000px;
    border: solid 1px #006699;
    font-size: 11px;
}
table.item-list th {
    color: #FFFFFF;
    text-align: left;
    background-color: #F60;
    line-height: 20px;
    padding: 2px 5px 2px 5px;
}
table.item-list td {
    padding: 2px 5px 2px 5px;
    line-height: 20px;
}
table.item-list tr.style2 {
    background: #ccc;
}

table.item-list tr.style1:hover,
table.item-list tr.style2:hover {
    background-color:#333;
    color: #fff;
}
table.item-list td a {
}
table.item-list td.code {
    padding-left: 5px;
    font-size: 9px;
    white-space: nowrap;
}
table.item-list td.title {
    width: 30%;
    vertical-align: middle;
}
table.item-list td.title a {
    color: #f60;
}
table.item-list td.actions {
    text-align: right;
    font-size: 10px;
    min-width: 96px;
    padding:0 10px 0 0;
}
table.item-list td.actions .fa {
    font-size: 12px;
}
table.item-list td.actions a {
    border-radius: 2px;
    padding: 2px 4px;
}
table.item-list tr:hover td.actions a {
    background: #ccc;
    color: #666;
}
table.item-list tr td.actions a:hover {
    color: #f60;
}
table.item-list td.actions a.sorter-link .fa {
}
table.item-list td.actions a.slideshow-link .fa {
}
table.item-list td.actions a.insert-link .fa {
}
table.item-list td.actions a.edit-link .fa {
}
table.item-list td.actions a.remove-link .fa {
}
table.item-list td:hover a,
table.item-list tr:hover td.title a  {
    color: #fff;
}
table.item-list tr:hover {
    background-color: #333;
    color: #fff;
}
table.item-list input[type="checkbox"] {
    height: 12px !important;
}
/***Table item-edit*************************/
table.item-edit {
}
table.item-edit input[type=checkbox] {
    height: initial !important;
}
/**Roles / Statuses*************************/
.status, 
.role {
    margin: 0 4px 0 0;
    padding: 2px 4px;
    color: #fff !important;
    border-radius: 3px;
    font-size: 9px;
    white-space: nowrap;
}
.status.active {
    background: #084;
}
.status.inactive {
    background: #db0000;
}
.status.new {
    background: #4A6D22;
}
.status.img-missing {
    background: #006699;
}
.status.preview {
    background: #685422;
}
.status.action {
    background: #936544;
}
.status.sale {
    background: #000000;
}
.status.recommended {
    background: #595959;
}
.status.delivery_time {
    background: #643234;
}
/**Shop*************************************/
form.search-shop {
    float: right;
}
form.search-shop input[type="text"] {
    margin: 0 10px 0 0;
}
.limit-container .limit {
    float: right;
    line-height: 18px;
    margin: 10px 0;
}
.limit-container div.limit a.selected {
    color: #FFFFFF;
    background-color: #003366;
    border-radius: 2px;
    padding: 2px 4px;
}
.product-count {
    float: left;
    margin: 15px 0;
}
.product-count p {
    margin: 0;
}
.category-select.bottom {
    float: right;
    margin: 10px 0;
}
#moduleContent select[multiple="multiple"] {
    width: 484px;
    height: 150px;
}
#moduleContent select[multiple="multiple"].multiple {
    width: 484px;
    height: 250px;
}
/**Messages container***********************/
#messages-container {
    float: left;
    width: 1000px;
    margin: 0 0 0 220px;
}
#messages-container > div {
    padding: 5px 10px;
    margin: 5px 0;
}
#messages-container .error {
    color: #fff;
    background: #b94a48;
}
#messages-container .info {
    color: #fff;
    background: #1c76bc; 
}
#messages-container .success {
    color: #fff;
    background: #468847;
}
/**Side menu********************************/
ul.side-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.side-menu li {
    margin: 0 0 3px;
}
ul.side-menu li a {
    padding: 4px 10px;
    display: block;
}
ul.side-menu li a.selected,
ul.side-menu li a:hover {
    background: #eee;
    color: #333;
}
/**Newsletter*******************************/
textarea.emails-export {
    width: 750px !important;
    max-width: 750px;
}
/*******************************************/
#maindiv {
    width:1240px;
    margin:0px auto;
    background-color: #e1e1e1;
    box-shadow: 5px 5px 10px #999;
    border-left: solid 1px #CCC;
    border-right: solid 1px #CCC;
}
.textbox1 {
    width: 100%;
}
#header {
    height: 143px;
    background-image:url(images/header-bg_01.jpg);
}
#headerName {
    height:90px;
    padding: 0px 30px 0px 0px;
}
#header h1 {
    font-size: 28px;
    color: #fff;
    text-transform:uppercase;
    padding: 40px 0px 0px 20px;
    margin: 0px;
}
#header #logout {
    float:right;
    padding-top:40px;
}
#header p {
    margin:0px;
    padding:0px;
}
#header_eshop {
    height:44px;
    border-bottom: 10px solid rgb(126,191,249);
}
/** main-menu */
.top-menu {
    padding-left: 40px;	
}
.top-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-menu a {
    display: block;
    color: #999;
    float: left;
    height: 20px;
    padding: 20px 15px 4px 15px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 9px rgba(0, 0, 0, 0) solid;
}
.top-menu a:hover, 
.top-menu a.selected {
    color: #FFFFFF;
    border-bottom: 9px #fff solid;
}
.top-menu.sub-menu {
    width: 1188px;
    height: 21px;
    border-bottom: solid 1px #666;
    background-color: #E6EAEE;
    padding: 5px 0 5px 52px;
    float: left;
}
.top-menu.sub-menu a {
    line-height: 21px;
    display: block;
    color: #003366;
    float: left;
    padding: 0 4px 0 4px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 0;
    font-size: 12px;
}
.top-menu.sub-menu a:hover, 
.top-menu.sub-menu a.selected,
/****/
#moduleContent table tr td.txt a.selected {
    color: #FFFFFF;
    background-color: #003366;
    border-radius: 2px;
}
#moduleContent table tr td.txt a {
    padding: 2px 4px;
}
#content {
    background-color:#fff;
    min-height: 480px;
    height: auto;
    background-image:url(images/leftmenu-bg.jpg);
    background-repeat:repeat-y;
}
#leftMenu {
    float: left;
    width: 170px;
    padding:15px;
    color: #eee;
}
#leftMenu #submenu {
    width: 176px;
    text-align:left;
    margin-top: 10px;
}

#leftMenu #submenu a {
    border-top: solid 1px #d0d0d0;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    width: 140px;
    min-height:40px;
    padding-left:36px;	
    background-repeat: no-repeat;
    background-position:left 13px;
    font-size: 16px;
    color: #d0d0d0;
    font-weight:bold;
}
#leftMenu #submenu a:hover {
    color: #fff;
    text-decoration:none;
}
#leftMenu #submenu a.addNew {
    background-image:url(images/new.png);
}
#leftMenu #submenu a.addNew:hover {
    background-image:url(images/rollover/new.png);
}
#leftMenu #submenu a.edit {
    background-image:url(images/edit.png);
}
#leftMenu #submenu a.edit:hover {
    background-image:url(images/rollover/edit.png);
}
#leftMenu #submenu a.slideshow {
    background-image:url(images/slideshow.png);
}
#leftMenu #submenu a.slideshow:hover {
    background-image:url(images/rollover/slideshow.png);
}
#leftMenu #submenu a.edit {
    background-image:url(images/edit.png);
}
#leftMenu #submenu a.edit:hover {
    background-image:url(images/rollover/edit.png);
}
#leftMenu #submenu a.detail {
    background-image:url(images/detail.png);
}
#leftMenu #submenu a.detail:hover {
    background-image:url(images/rollover/detail.png);
}
#moduleContent {
    width: 1000px;
    margin: 5px 0 20px 20px;
    float: left;
}
#moduleContent input[type="text"], #moduleContent input[type="password"], #moduleContent input[type="email"], #moduleContent select, #moduleContent textarea, #moduleContent  input[type="checkbox"] {
    width:320px;
    height:17px;
    padding:5px;
    color:#666;
    border: solid 1px #CCC;
    box-shadow: 0px 0px 3px #CCC inset;
    border-radius: 3px;
}
#moduleContent .status-select select {
    width: 120px;
}
#moduleContent select {
    height:30px;
}
#moduleContent textarea {
    height:150px;
}
#moduleContent input[type="checkbox"] {
    width:12px;
}
#moduleContent input[type="text"]#_date {
    width: 150px;
}
#moduleContent input[type="text"]:hover, #moduleContent input[type="password"]:hover, #moduleContent input[type="email"]:hover, #moduleContent select:hover, #moduleContent textarea:hover {
    border: solid 1px #666;
}
#moduleContent input[type="text"]:focus, #moduleContent input[type="password"]:focus, #moduleContent input[type="email"]:focus, #moduleContent select:focus, #moduleContent textarea:focus {
    border: solid 1px #f60;
}
input[readonly] {
    background-color: #f3f3f3;
}
input[readonly]:hover, 
input[readonly]:focus {
    border: 1px solid #ccc !important;
}
input[type="submit"], 
input[type="button"], 
input[type="reset"], 
button {
    background-color: #f60;
    color: #FFF;
    font-weight: bold;
    border-radius: 2px;
    margin: 0 0 0 10px;
    padding: 5px;
    float: right;
    border: solid 1px #ccc;
    cursor: pointer;
    outline: none;
}
#moduleContent input[type="submit"]:hover {
    background-color: #000;
    color: #F60;
    box-shadow: 0px 0px 3px #999;
}
table.tablelist {
    width: 1000px;
    border: solid 1px #006699;
    font-size: 12px;
}
table.tablelist th {
    color: #FFFFFF;
    text-align: left;
    background-color: #F60;
}
table.tablelist th,
table.tablelist td {
    padding: 2px 5px 2px 5px;
    line-height: 20px;
}
table.tablelist td.line-thick {
    line-height: 12px;
}
table.tablelist tr.style1 {

}
table.tablelist tr.style1:hover,
table.tablelist tr.style2:hover,
table.tablelist tr:nth-child(odd):hover {
    background-color:#333;
    color: #fff;
}
table.tablelist tr.style2,
table.tablelist tr:nth-child(odd) {
    background-color: #e8e8e8;
}

table.tablelist td a {
    color: #f60;
}
table.tablelist td a:hover {
    color: #fff;
}	

table.tableProduct_left {
    width: 150px;
    margin: 0 10px 0 0;
    float: left;
}
table.tableProduct_left tr td {
    min-width: 156px;
    padding: 0 0 6px;
}

table.tableProduct_right {
    width: 400px;
    float: right;
}
.tableProduct_right select {
    margin: 0 0 10px;
}

table.tableform {
    /*width: 980px;*/
    width: 100%;
}
table.tableform th {
    background-color: #F60;
    color: #FFFFFF;
    text-align: left;
}
table.tableform th, table.tableform td {
    /*padding: 2px 5px 2px 5px;*/
    line-height: 18px;
    vertical-align: top;
}
.tableProduct_left tr {
    border-spacing: 0 !important;
}
table.tableform th a {
    color: #FFFFFF;
    text-decoration:underline
}
table.tableform th a:hover{
    color: #FFFFFF;
    text-decoration:underline
}
table.tableform td input.textbox1 {
    border: solid 1px #cccccc;
}
table.tableform .button {
    background-color: #FFFFFF;
    color: #006699;
    border: solid 1px #006699;
}
#content h1 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 15px 0 10px;
}
#loginForm {
    background-image:url(images/login-bg.jpg);
    background-repeat:no-repeat;
    width: 378px;
    height: 259px;	
}
#loginForm td {
    padding:5px 40px 0px 30px;
}
#loginForm input[type="email"], #loginForm input[type="password"] {
    width:300px;
    height:17px;
    padding:5px;
    color:#666;
    border: solid 1px #CCC;
    box-shadow: 0px 0px 3px #CCC inset;
    border-radius: 3px;
}
#loginForm input[type="email"]:focus, #loginForm input[type="password"]:focus {
    border: solid 1px #f60;
}
#footer {
    display: block;
    height: 20px;
    padding: 3px 0 0 17px;
    background-color: #80befb;
    color: #FFFFFF;
    box-shadow:-10px 1px 2px 0px #333 inset; 
    border-bottom: solid 1px #999;
}
#footer a {
    color: #fff;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}

#menu-items {
    line-height: 54px;
}
.article-warning {
    margin: 5px 0 8px 0;
    width: 1010px;
    padding: 3px 0 3px 12px;
    border: solid 1px #fe9486;
    background-color: #FF0000;
    color: #FFFFFF;
    font-weight: bold;
}
button, input[type=submit] {
    cursor: pointer;
}
.red {
    color: #db0000 !important;
}
.strong {
    font-weight: bold !important;
}
#message {
    margin: 10px 0;
}
.w-420 {
    width: 420px;
}
.tableform.gallery {
    width: 50%;
    float: left;
}
.tableform.gallery tr.half td {
    width: 50%;
}
.tableform.gallery td {
    padding: 5px 0;
    vertical-align: top;
}
.tableform.gallery td.editor {
    padding: 5px 10px 5px 0;
}
.tableform.gallery #UploadBtn {
    margin: 20px 0 10px;
}
.tableform.gallery.order {
    /*padding: 0 0 0 10px;*/
}
.tableform.gallery.order select {
    width: 420px !important;
    height: 250px !important;
    float: left;
}
.tableform.gallery.order td.btns {
    margin: 46px 0 0 13px;
    float: left;
}
/**Pagination*******************************/
ul.pagination {
    list-style: none;
    float: right;
}
ul.pagination li {
    float: left;
    margin: 0 2px;
}
ul.pagination li a {
    padding: 2px 4px;
}
ul.pagination li a.current, 
ul.pagination li a:hover,
td.txt a.selected,
td.txt a:hover {
    color: #FFFFFF;
    background-color: #003366;
    border-radius: 2px;
}
#leftMenu h2 {
    margin: 0 0 10px;
}
/**_eshop_product_content.php**/
td.pseudo-tabs {
    padding: 0;
    border-spacing: 0;
    vertical-align: top;
}
td.pseudo-tabs ul {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
    width: 100%;
    display: block;
    float: left;
}
td.pseudo-tabs ul li {
    float: left;
    margin: 0 2px 0 ;
}
td.pseudo-tabs ul li span, 
td.pseudo-tabs ul li:hover a {
    background: #f60;
    padding: 4px 8px;
    color: #fff;
    display: block;
}
td.pseudo-tabs ul li a {
    background: #f8f8f8;
    padding: 4px 8px;
    color: #000;
    display: block;
}
div.product-images-gallery {
    width: 100%;
    float: left;
}
div.product-images-gallery > div {
    width: 21%;
    float: left;
    margin: 1%;
    padding: 1%;
    text-align: center;
}
div.product-images-gallery > div > span {
    word-break: break-all;
    font-size: 10px;
    display: block;
}
div.product-images-gallery > div > a.fancybox-image {
    display: block;
    text-align: center;
    min-height: 150px;
    margin: 0 0 10px;
}
div.product-images-gallery > div > a.fancybox-image img, 
div.product-images-gallery > div > img {
    max-width: 200px;
    border: 1px solid #ccc;
}
a.product-image {
    width: 150px;
    float: left;
    display: block;
    margin: 0 20px 0 0;
    border: 1px solid #eee;
}
.product-image-actions {
    width: 600px;
    float: left;
}
.product-image-actions input, 
.product-image-actions label {
    display: block;
}
.product-image-actions input {
    display: initial;
}
.product-image-actions > input {
    margin: 0 0 20px;
}
.product-image-actions label {
    vertical-align: bottom;
}
.product-image-actions label input {
    height: initial !important;
}
.variants-not-available {
    color: #FF0000;
    font-weight: bold;
    text-align: center;
    padding: 5px 0 5px 0;
    line-height: 18px;
    border: solid 1px #FF99FF;
    background:#FFCCFF;
}
/** _article.php **/
.article-category-label {
    width: 194px;
}

.tooltip {
    text-align: left;
    font-weight: normal;
    font-size: 11px;
}
.done {
    display: block;
    color: green;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.green {
    color: green;
}


table.importer tbody tr:nth-child(odd) {
    background-color: #efefef;
}
table.importer tbody tr.selected {
    background-color: #f8dcb9;
}
table.importer tbody tr:nth-child(odd).selected {
    background-color: #f7d1a2;
}
table.importer tbody tr:hover {
    background-color: #d8d8d8;
}
table.importer tbody tr.selected:hover {
    background-color: #eac495;
}

