
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-left-open-big:before { content: '\e807'; } /* '' */
.icon-right-open-big:before { content: '\e808'; } /* '' */
.icon-akcia:before { content: '\e809'; } /* '' */
.icon-cart:before { content: '\e80a'; } /* '' */
.icon-accessories:before { content: '\e80b'; } /* '' */
.icon-audio:before { content: '\e80c'; } /* '' */
.icon-ipad:before { content: '\e80d'; } /* '' */
.icon-iphone7s:before { content: '\e80e'; } /* '' */
.icon-keyboard:before { content: '\e80f'; } /* '' */
.icon-i-symbol:before { content: '\e810'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */